<div class="converter-wrapper">
    <form class="converter-form" action="test" method="post">
        <div class="converter-box">
            <input type="text" [value]="currencyTop" (input)="changeTop($event)" placeholder={{optionTop}} />
            <select class="converter-select" id="selectoption" name="optionTop" [(ngModel)]="optionTop">
                <option value="USD">USD</option>
                <option value="EUR">EUR</option>
                <option value="UAH">UAH</option>
            </select>
        </div>
        <div class="converter-box">
            <input type="text" [value]="currencyBottom" (input)="changeBottom($event)" placeholder={{optionBottom}}/>
            <select class="converter-select" id="selectoption" name="optionBottom" [(ngModel)]="optionBottom">
                <option value="USD">USD</option>
                <option value="EUR">EUR</option>
                <option value="UAH">UAH</option>
            </select>
        </div>

    </form>
</div>

